<div class="row">
  <div class="col-md-12 text-left">
    <p><b>Sorting</b></p>
    <br />
    <br />
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-right">
    <button class="btn btn-primary" (click)="addNew()">Add New</button>
    <br />
    <br />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-auto"></div>
    <div class="col">Field to Evaluate</div>
    <div class="col">Operator</div>
    <div class="col">Grouping</div>
    <div class="col">Actions</div>
  </div>
  <form [formGroup]="formGrp" (ngSubmit)="onSubmit()">
    <div formArrayName="addRowFormArray">
      <div
        class="row"
        *ngFor="let item of formArry.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="col-md-auto">{{ i + 1 }}</div>
        <div class="col">
          <input required="" type="text" formControlName="fte" />
          <div
            *ngIf="
              formArry.at(i).get('fte').invalid &&
              formArry.at(i).get('fte').touched
            "
          >
            <small
              *ngIf="formArry.at(i).get('fte').errors['required']"
              class="text-danger"
              >Can't be left Blank</small
            >
            <small
              *ngIf="formArry.at(i).get('fte').errors['pattern']"
              class="text-danger"
              >Only Aplhanumeric is Allowed</small
            >
          </div>
        </div>
        <div class="col">
          <input
            type="text"
            formControlName="operator"
            (keypress)="keyPressNumeric($event)"
          />
          <div
            *ngIf="
              formArry.at(i).get('operator').invalid &&
              formArry.at(i).get('operator').touched
            "
          >
            <small
              *ngIf="formArry.at(i).get('operator').errors['required']"
              class="text-danger"
              >Can't be left Blank</small
            >
            <small
              *ngIf="formArry.at(i).get('operator').errors['pattern']"
              class="text-danger"
              >Max 4 digits before decimal and 8 digits after decimal
              allowed</small
            >
          </div>
        </div>
        <div class="col">
          <input type="text" formControlName="grouping" />
          <div
            *ngIf="
              formArry.at(i).get('grouping').invalid &&
              formArry.at(i).get('grouping').touched
            "
          >
            <small
              *ngIf="formArry.at(i).get('grouping').errors['required']"
              class="text-danger"
              >Can't be left Blank</small
            >
            <small
              *ngIf="formArry.at(i).get('grouping').errors['pattern']"
              class="text-danger"
              >Only Alphanumeric with '@#%&' is Allowed</small
            >
          </div>
        </div>
        <div class="col">
          <button
            class="btn btn-secondary"
            (click)="delete(i)"
            [disabled]="formArry.controls.length == 1"
          >
            X
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!formGrp.valid"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
  <div *ngIf="showTable">
    <table class="table">
      <thead class="tableHead">
        <th class="tableHead">Field to Evaluate</th>
        <th class="tableHead">Operator</th>
        <th class="tableHead">Grouping</th>
      </thead>
      <tbody *ngFor="let user of showData">
        <td>{{ user.fte }}</td>
        <td>{{ user.operator }}</td>
        <td>{{ user.grouping }}</td>
      </tbody>
    </table>
  </div>
</div>
