#col1 {
  margin-top: 50px;
}
#col2 {
  width: 800px;
}
#col3 {
  width: 220px;
}
#inp1 {
  margin-top: 3px;
  width: -webkit-fill-available;
  padding-left: 2rem;
}
.accordion-item {
  border-width: 4px;
  border-color: rgb(134, 93, 210);
}
.accordion-header .accordion-button {
  background-color: white;
}
h2 {
  color: #0d6efd;
}
#col4 {
  margin-top: 10px;
}
th {
  border-width: 1px;
}
.box {
  border-width: 1px;
  color: red;
}
#row1 {
  width: 500px;
}
.categoryList {
  list-style: none;
  margin: 1px;
}

#scroll {
  max-height: 200px;
  overflow: auto;
}
#scroll2 {
  max-height: 200px;
  overflow: auto;
}
.card-body {
  line-height: 2px;
}
.btn1 {
  size: auto;
}
.label1 {
  margin-left: 5px;
}
.label2 {
  margin-left: 10px;
}
#dropdown {
  height: 30px;
  width: -webkit-fill-available;
  margin-top: 3px;
}
.RelationShip {
  margin-left: 31px;
  margin-bottom: 2px;
}
