<div class="container">
  <div class="row">
    <div class="col" id="col1">
      <div class="accordion" id="myaccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <strong> Fields to Display </strong>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="row">
                <div class="col" id="col2">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="listVal"
                    id="inp1"
                  />
                </div>
                <div class="col" id="col3">
                  <input type="text" placeholder="name" id="inp2" />
                </div>
              </div>
              <div class="row">
                <div class="col" id="col4">
                  <div class="card">
                    <div class="card-body">
                      <strong>{{ listValLen }} Selected</strong>
                    </div>
                  </div>
                  <table class="table">
                    <thead>
                      <!-- <th>{{ listValLen }} selected</th>
                      <th> -->
                    </thead>
                    <tbody style="border-width: 1px">
                      <tr>
                        <td id="row1">
                          <div id="scroll">
                            <tr *ngFor="let item of categoryList">
                              <ul class="categoryList">
                                <li>
                                  <i
                                    type="button"
                                    class="fa fa-plus"
                                    style="color: rgb(80, 221, 80)"
                                    (click)="show(item)"
                                  ></i
                                  ><strong>{{ item.name }}</strong>
                                </li>
                                <li>
                                  <ul
                                    class="categoryList"
                                    [hidden]="item.isChildVisible"
                                  >
                                    <li *ngFor="let children of item.children">
                                      <i
                                        type="button"
                                        class="fa fa-plus"
                                        style="color: rgb(80, 221, 80)"
                                        (click)="add(children)"
                                      ></i>
                                      {{ children }}
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </tr>
                            <!-- <ul
                              class="selectList"
                              *ngFor="let item of selectList"
                            >
                              <li>
                                <button
                                  type="button"
                                  class="btn btn-primary"
                                  (click)="show(item)"
                                ></button>
                                <strong>{{ item }}</strong>
                              </li>
                            </ul> -->
                          </div>
                        </td>
                        <td style="border-width: 1px">
                          <div id="scroll2">
                            <ul
                              class="categoryList"
                              *ngFor="let item of selectedList"
                            >
                              <li>
                                <i
                                  type="button"
                                  class="fa fa-minus"
                                  style="color: rgb(242, 57, 57)"
                                  (click)="remove(item)"
                                ></i>
                                {{ item }}
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <form>
                    <input type="checkbox" />
                    <label class="label1"
                      ><strong>Statistics Mode</strong></label
                    >
                    <label class="label2"
                      ><small
                        >Search results in the form of a statistics report by
                        grouping and aggregating field values.</small
                      >
                    </label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
