<div class="container">
  <div class="row">
    <div class="col" id="col1">
      <div class="accordion" id="myaccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <strong> Fields to Display </strong>
              <i class="pi pi-info-circle" style="margin-left: 3px"></i>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="row">
                <span class="p-input-icon-left" id="col2">
                  <i class="pi pi-search" style="margin-left: 5px"></i>

                  <p-chips [(ngModel)]="displayList" class="chip1"></p-chips>
                </span>
                <div id="col3">
                  <form action="/action_page.php">
                    <select
                      style="border: 1.5px solid #999; height: 33px"
                      id="dropdown"
                    >
                      <option value="" disabled selected hidden>Name</option>
                      <option value="">option1</option>
                      <option value="">option2</option>
                      <option value="">option3</option>
                    </select>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col" id="col4">
                  <div class="card">
                    <div class="card-body">
                      <strong>{{ listValLen }} Selected</strong>
                    </div>
                  </div>
                  <table class="table">
                    <thead></thead>
                    <tbody style="border-width: 1px">
                      <tr>
                        <td id="row1">
                          <div id="scroll">
                            <tr>
                              <a href=""
                                ><strong class="RelationShip"
                                  >Add New RelationShip</strong
                                >
                              </a>
                            </tr>
                            <tr *ngFor="let item of categoryList">
                              <ul class="categoryList">
                                <li *ngIf="item.isChildVisible">
                                  <i
                                    type="button"
                                    class="fa fa-plus"
                                    style="
                                      color: rgb(80, 221, 80);
                                      margin-right: 15px;
                                    "
                                    (click)="show(item)"
                                  ></i
                                  >{{ item.name }}
                                </li>
                                <li *ngIf="!item.isChildVisible">
                                  <i
                                    type="button"
                                    class="pi pi-angle-up"
                                    style="margin-right: 15px"
                                    (click)="show(item)"
                                  ></i
                                  ><strong>{{ item.name }}</strong>
                                </li>
                                <li>
                                  <ul
                                    class="categoryList"
                                    [hidden]="item.isChildVisible"
                                  >
                                    <li *ngFor="let children of item.children">
                                      <i
                                        type="button"
                                        class="fa fa-plus"
                                        style="
                                          color: rgb(80, 221, 80);
                                          margin-right: 15px;
                                        "
                                        (click)="add(children)"
                                      ></i>
                                      {{ children }}
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </tr>
                          </div>
                        </td>
                        <td style="border-width: 1px">
                          <div id="scroll2">
                            <ul class="categoryList">
                              <li *ngFor="let item of selectedCategoryList">
                                <div>
                                  <strong>{{ item.name }}</strong>
                                </div>
                                <div *ngFor="let children of item.children">
                                  <i
                                    type="button"
                                    class="fa fa-minus"
                                    style="
                                      color: rgb(242, 57, 57);
                                      margin-right: 15px;
                                    "
                                    (click)="remove(children)"
                                  ></i>
                                  {{ children }}
                                </div>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <form>
                    <input type="checkbox" />
                    <label class="label1"
                      ><strong>Statistics Mode</strong></label
                    >
                    <label class="label2"
                      ><small
                        >Search results in the form of a statistics report by
                        grouping and aggregating field values.</small
                      >
                    </label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
